:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #757575;
}

body {
  color: #212121;
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*Logo*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.txt-blue {
  color: #2196f3;
}
.txt-black {
  color: #000000;
}

.main-link {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.main-link:focus {
  font-size: 26px;
  font-weight: 700;
}

/*Header*/

.link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}
.link:hover {
  color: #2196f3;
  font-weight: 500;
}

/*Main*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--main-title-color);
  background-color: #2f303a;
  text-align: center;
}
.specialities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
}

.paragraph-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-title-color);
}

.our-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: inherit;
}

.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: inherit;
  text-align: center;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-title-color);
  text-align: center;
}

.button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid var(--secondary-title-color);
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.name-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: inherit;
}

.paragraph-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-title-color);
}

/*Footer*/

.low-content {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  background-color: #2f303a;
}

.link-footer {
  color: var(--main-title-color);
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  background-color: #2f303a;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.71;
}
.link-footer:hover {
  color: var(--main-title-color);
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
}
